@{
    ViewData["Title"] = "About Me";
}
<h1>Hello There!</h1>

<p>I am Adrian Bachowski and developed this app. If you like eating and cooking like me...</p>
<p>Then this app is for you.</p>
<p>Store your recipes and enjoy.</p>
<p>No idea what to cook ? Look for recipes from others.</p>
