@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Traveler!</h1>
    <p>Are you tired of paper cooking books? Well you found the right place!</p>
    <p>Now you can save your wonderfull recipes.</p>
    <p>And not only that! You can also search for recipes from other users :)</p>
</div>

<img class="mainImage" src="~/Images/glodny ludzik.JPG"/>